@{
    ViewBag.Title = "Home Page";
}

<link href="~/Content/Style.css" rel="stylesheet" />

<section id="home">
    <div class="p-5 text-center text-sm-start">
        <div class="container">
            <div class="d-sm-flex align-items-center justify-content-between">
                <div>
                    <h1>Bienvenido a <span class="text-warning">iTory</span></h1> 
                    <br>
                    <p class="lead my-2" align="justify">Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. </p>
                    <br />
                    <button class="btn btn-warning ">
                        Ingresar ahora <i class="fas fa-angle-double-right"></i>
                    </button>
                </div>     
                <img class="img-fluid w-50"src="~/Content/Imgs/ZonaGD-06.svg"/>
            </div>
        </div>
    </div>
</section>

<section id="tarjetas" >
    <h3 align="center"><b>Modulos del sistema</b></h3>
    <div class="container" style="padding-top:32px;">
        <div class="row text-center">
            <div class="col-sm">
                <div class="card">
                    <div class="icon">
                        <h2><i class="fas fa-boxes" style="color:#f7b820;"></i></h2>
                    </div>
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore</p>
                        <button class="btn btn-primary">Ir<i class="fas fa-angle-double-right"></i> </button>
                    </div>
                </div>
            </div>

            <div class="col-sm">
                <div class="card">
                    <div class="icon">
                        <h2>
                            <i class="fas fa-box-open" style="color:#f7b820;"></i>
                        </h2>
                    </div>
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore</p>
                        <button class="btn btn-primary">Ir<i class="fas fa-angle-double-right"></i> </button>
                    </div>
                </div>
            </div>

            <div class="col-sm">
                <div class="card">
                    <div class="circle">
                        <h2>
                            <i class="fas fa-calculator" style="color:#f7b820;"></i>
                        </h2>
                    </div>
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore</p>
                        <button class="btn btn-primary">Ir<i class="fas fa-angle-double-right"></i> </button>
                    </div>
                </div>
            </div>

            <div class="col-sm">
                <div class="card">
                    <div class="circle">
                        <h2>
                            <i class="fas fa-headphones-alt"style="color:#f7b820;"></i>
                        </h2>
                    </div>
                    <div class="content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore</p>
                        <button class="btn btn-primary">Ir<i class="fas fa-angle-double-right"></i> </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

